body{
    background-color: gainsboro;
    font-family: roboto;
}

.post{
    
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 50%;
    height: auto;
    padding: 5px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 2px;
}

.imagen img{
    width: 100%;
    height: auto;
        
}


.iconos{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 30px;
    padding-bottom: 2px;
}

.iconos i:hover {
    color: #ffcc00; /* El color que desees cuando brille */
    cursor: pointer; /* Cambia el cursor a una mano */
    transition: color 0.3s ease; /* Hace que el cambio sea suave */
}

.texto{
    text-align: left;
    padding: 10px;
    font-size: 15px;
    margin-top: 2px;
    padding-top: 0px;
    padding-left: 10px;
}
