body{
    background-color: gainsboro;
    font-family: roboto;
}

.post{
    
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 60%;
    height: auto;
    padding: 5px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 2px;
}

.imagen img{
    width: 100%;
    height: auto;
        
}
